﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans">
    <link href="https://fonts.googleapis.com/css?family=El+Messiri:500&amp;subset=arabic" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body dir="rtl">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="nav-start">
                <a class="navbar-brand" href="#">
                    <img src="~/Assets/img/logo.png" alt="مدن" height="80" />
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse nav-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-home f-s-15 "></i> العمالة </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-home f-s-15 "></i> العمالة </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-home f-s-15 "></i> العمالة </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-home f-s-15 "></i> العمالة </a>
                    </li>
                </ul>
            </div>

            <div class="nav-end">
                <ul class="nav">
                    <li class="dropdown dropdown-hover">
                        <a href="#" class="header-cart" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="total">
                                <span class="label label-notification ">0</span>
                            </span>
                            <span class="arrow top"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-cart p-0">
                            <div class="cart-header">
                                <h4 class="cart-title text-right">الإشعارات 0</h4>
                            </div>
                            <div class="cart-body">
                                <ul class="cart-item">

                                    <li>
                                        <div class="cart-item-image"><img src="~/Assets/img/Modon_ksa.jpg" alt=""></div>
                                        <div class="cart-item-info">
                                            <h4 class="text-right p-r-5">لا توجد لديك إشعارات جديدة</h4>
                                            <p class="price"></p>
                                        </div>
                                        <div class="cart-item-close">
                                            <a href="#" data-toggle="tooltip" data-title="تمت المشاهدة" data-original-title="" title="">×</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart-footer">
                                <div class="row row-space-10">
                                    <a href="#" class="btn btn-inverse btn-block">مشاهدة المزيد</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider hidden-sm hidden-xs"></li>
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="hidden-md hidden-sm hidden-xs">احمد ا...</span> <b class="caret"></b>
                            <img src="~/Assets/img/sa.png" class="user-img" alt="">
                        </a>
                        <ul class="dropdown-menu text-right">
                            <li class="arrow"></li>
                            <li><a href="#">تغيير كلمة المرور</a></li>
                            <li> <a href="#">خروج</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="footer-content">
            <div class="copyright">
                جميع الحقوق محفوظة © 2018 الهيئة السعودية للمناطق الصناعية      
                <br>   
                <a href="/Modon3/Modon/NewsFeed/PostNewsFeed">     
                <i class="fa fa-comment-o" aria-hidden="true"></i> الدعم الفني</a>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/JS")
    @RenderSection("scripts", required: false)
</body>
</html>
