﻿body, html {
    height: 100%;
    text-align: right;
    background: url(../../Assets/img/bgbg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'El Messiri', "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

nav {
    height: 85px;
    background-color: white;
}

i {
    color: #1a526e !important;
}

@media (min-width: 992px) {
    .nav-start {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        width: 210px;
    }

    .nav-center {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .nav-end {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        width: 210px;
    }

    .nav-center li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        border-left: #94a7af 1px solid;
    }

    nav li:last-of-type {
        border-left: hidden;
    }
}

@media (max-width: 600px) {
    .nav-end {
        display: none;
    }

    .navbar-collapse {
        background-color: white !important;
    }

        .navbar-collapse ul {
            margin-left: 15px
        }

    .navbar-brand img {
        height: 50px;
    }
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto;
    height: calc(100% - 205px);
    background-color: white;
    border-radius: 10px;
}

/*nav ul, nav li {
    height: 80%;
}*/

.nav-end ul {
    width: 100%;
    flex-direction: row;
}

/*.nav-end li {
    width: 30%;
}*/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    align-self: flex-end;
    bottom: 0;
    width: 100%;
    height: 100px;
    position: fixed;
}

.footer-content {
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown.dropdown-hover:hover .dropdown-menu,
.dropdown.dropdown-hover:focus .dropdown-menu,
.dropdown.dropdown-hover:hover .arrow,
.dropdown.dropdown-hover:focus .arrow {
    display: none;
}

.dropdown.dropdown-hover.open .dropdown-menu,
.dropdown.dropdown-hover.open .arrow {
    display: block;
}

.dropdown.dropdown-hover:hover .dropdown-menu,
.dropdown.dropdown-hover:focus .dropdown-menu {
    display: block
}

.dropdown-menu {
    font-size: 12px;
    border: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    top: 150% !important;
}

.dropdown .arrow {
    display: none;
    position: relative;
    z-index: 1020;
}

.dropdown.dropdown-hover:hover .arrow,
.dropdown.dropdown-hover:focus .arrow,
.dropdown.open .arrow {
    display: block;
}

.dropdown .arrow:before,
.dropdown .arrow:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -7px;
}

.dropdown .arrow.top:before,
.dropdown .arrow.top:after {
    border: 7px solid transparent;
    border-bottom-color: #1a526e;
    top: -2px;
}

.dropdown .arrow.top:before {
    border-bottom-color: #1a526e;
    top: -3px;
}

.dropdown.dropdown-hover:hover .dropdown-menu,
.dropdown.dropdown-hover:focus .dropdown-menu {
    display: block
}

a {
    color: #1a526e;
    -webkit-transition: all 0.2s cubic-bezier(0.6, 0.045, 0.4, 1);
    -moz-transition: all 0.2s cubic-bezier(0.6, 0.045, 0.4, 1);
    transition: all 0.2s cubic-bezier(0.6, 0.045, 0.4, 1);
}

    a:hover,
    a:focus,
    a:active {
        color: #008a8a;
        text-decoration: none !important;
    }

.dropdown .arrow {
    display: none;
    position: relative;
    z-index: 1020;
}

.dropdown.dropdown-hover:hover .arrow,
.dropdown.dropdown-hover:focus .arrow,
.dropdown.open .arrow {
    display: block;
}

.dropdown .arrow:before,
.dropdown .arrow:after {
    content: '';
    position: absolute;
    margin-left: -7px;
}

.dropdown .arrow.top:before,
.dropdown .arrow.top:after {
    border: 7px solid transparent;
    border-bottom-color: #00acac;
}

.dropdown .arrow.top:before {
    border-bottom-color: #00acac;
}

.dropdown .header-cart .arrow.top:before,
.dropdown .header-cart .arrow.top:after {
    top: 10px;
    left: 25px;
}

.header-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212121;
    width: 100%;
}

    .header-cart i {
        font-size: 25px;
    }

    .header-cart .total {
        font-size: 12px;
        color: #fff;
        font-weight: bold;
        background: #1a526e;
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 20px;
    }

.dropdown-menu.dropdown-menu-cart {
    left: auto;
    right: 0;
    margin-right: -142px;
    width: 360px;
}

.cart-header, .cart-body, .cart-footer {
    padding: 15px;
}

.cart-title {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.cart-header + .cart-body, .cart-body + .cart-footer {
    border-top: 1px solid #e5e5e5;
}

.cart-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .cart-item > li {
        display: table;
        width: 100%;
    }

        .cart-item > li > div {
            display: table-cell;
            vertical-align: middle;
        }

.cart-item-image {
    float: left;
    width: 80px;
    height: 60px;
    padding: 7px;
    overflow: hidden;
    text-align: center;
    line-height: 44px;
    border: 1px solid #e5e5e5;
}

    .cart-item-image img {
        max-width: 100%;
        max-height: 100%;
    }

img {
    vertical-align: middle;
}

.cart-item-image + .cart-item-info, .cart-item-info + .cart-item-close {
    padding-left: 15px;
}

.cart-item-info {
    width: 80%;
}

.cart-item > li h4 {
    font-size: 15px;
    line-height: 19px;
    margin: 3px 0;
}

.p-r-5 {
    padding-right: 5px !important;
}

.cart-item > li .price {
    color: #777;
    font-size: 12px;
    margin: 0;
}

.cart-item-close a {
    font-size: 18px;
    color: #999;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    display: block;
    text-decoration: none;
    border-radius: 24px;
    background: #f9f9f9;
}

body > nav > div > div.nav-end > ul > li > div > div.cart-body > ul {
    width: 100% !important;
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {
    background: #242a30;
    border-color: #242a30;
}

.btn.btn-inverse {
    color: #fff;
    background: #2d353c;
    border-color: #2d353c;
}

.btn:active, .btn.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    outline: 0;
}

body > nav > div > div.nav-end > ul > li > div > div.cart-footer > div {
    margin-left: auto;
    margin-right: auto;
}

.user-img {
    width: 36px;
    height: 36px;
    border-radius: 40px;
}


.dropdown.dropdown-hover {
    /*align-self: center;*/
    margin: auto;
}

.dropdown-menu {
    border-top-color: #00acac;
    margin: 0;
    padding: 0 15px;
    border-top: 3px solid #1a526e;
    border-radius: 0 0 4px 4px;
    min-width: 140px;
}

    .dropdown-menu > li.arrow + li {
        border-top: none;
    }

    .dropdown-menu > li > a {
        padding: 10px 0;
        display: block;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }

    .dropdown-menu > li + li {
        border-top: 1px solid #e5e5e5;
    }

.nav > li > a:hover, .nav > li > a:focus, .nav > li.open > a, .nav > li.open > a:hover, .nav > li.open > a:focus {
    background: none;
    color: #707478 !important;
}

.copyright {
    font-size: 12px;
    color: darkgreen;
    background: white;
    padding: 15px 0;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li.divider {
    width: 1px;
    height: 35px;
    margin: 0 5px;
    background: #e5e5e5;
}
